.xl-text {
  font-size: 75px;
}

.btn-outline-secondary {
  color: var(--bs-secondary);
}

.btn-outline-secondary:hover {
  color: #fff;
}

.decoration-star {
  top: 80px;
  left: -200px;
  width: 500px;
  opacity: 0.7;
}

.decoration-star-2 {
  top: 80px;
  right: -200px;
  width: 500px;
  opacity: 0.7;
}

.navbar {
  transition: all 0.5s ease-in-out;
  background: #5053bf;
}

.navbar-sticky {
  background: rgba(1, 4, 136, 0.9);
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.details .decoration-star {
  left: -200px;
  width: 500px;
}

.details-2 .decoration-star {
  right: -200px;
  width: 500px;
}

.contact .decoration-star {
  left: -300px;
  width: 600px;
}

.to-top-btn {
  position: fixed;
  z-index: 20;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: #44434a;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.to-top-btn:hover {
  background-color: #1d1d21;
}

.to-top-btn img {
  margin-bottom: 0.25rem;
  width: 18px;
}

.show {
  opacity: 1;
}

@media (max-width: 992px) {
  .xl-text {
    font-size: 50px;
  }

  .navbar .btn-outline-secondary {
    margin-top: 20px;
  }

  .header {
    margin-top: 0px !important;
    text-align: center;
  }

  .header .decoration-star {
    left: -100px;
    width: 250px;
  }

  .header .decoration-star-2 {
    right: -100px;
    width: 250px;
  }

  .header .image-container {
    margin-top: 30px;
  }

  .services .col-md-4 {
    border-bottom: 1px #ccc solid;
    margin: 10px 0;
  }

  .details-2 {
    margin-top: 20px !important;
  }

  .details-2 .decoration-star {
    top: 300px;
  }
}

.main-img {
  border-start-end-radius: 30%;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  border-start-start-radius: 10px;
}

.sub-img {
  position: absolute;
  top: 100px;
  left: -50px;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: DodgerBlue;
}

.nav-link {
  color: #fff;
}

/* #login {
  background-color: #9A616D;
} */
/* Hero Section */
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero-section {
  width: 100%;
  /*  */
  position: relative;
  /* padding: 120px 0 0 0; */
}

.rotate {
  /* background: url(../images/hero-bg.jpg); */
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.hero-section .wave {
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  bottom: -150px;
}

@media screen and (max-width: 992px) {
  .hero-section .wave {
    bottom: -180px;
  }
}

.hero-section .wave svg {
  width: 100%;
}

.hero-section,
.hero-section>.container>.row {
  height: 100vh;
  min-height: 880px;
}

.hero-section.inner-page {
  height: 30vh;
  min-height: 0;
}

.hero-section.inner-page .hero-text {
  transform: translateY(-150px);
  margin-top: -300px;
}

@media screen and (max-width: 992px) {
  .hero-section.inner-page .hero-text {
    margin-top: -80px;
  }
}

.hero-section h1 {
  font-size: 3.5rem;
  color: #fff;
  font-weight: 700;
  /* margin-bottom: 10px; */
}

@media screen and (max-width: 992px) {
  .hero-section h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 30px;
  }
}

@media screen and (max-width: 992px) {
  .hero-section .hero-text-image {
    margin-top: 4rem;
  }
}

.hero-section p {
  font-size: 18px;
  color: #fff;
}

.hero-section .iphone-wrap {
  position: relative;
}

@media screen and (max-width: 992px) {
  .hero-section .iphone-wrap {
    text-align: center;
  }
}

.hero-section .iphone-wrap .phone-2,
.hero-section .iphone-wrap .phone-1 {
  position: absolute;
  top: -50%;
  overflow: hidden;
  left: 0;
  box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}

@media screen and (max-width: 992px) {

  .hero-section .iphone-wrap .phone-2,
  .hero-section .iphone-wrap .phone-1 {
    position: relative;
    top: 0;
    max-width: 100%;
  }
}

.hero-section .iphone-wrap .phone-2,
.hero-section .iphone-wrap .phone-1 {
  width: 250px;
}

@media screen and (max-width: 992px) {
  .hero-section .iphone-wrap .phone-1 {
    margin-left: -150px;
  }
}

.hero-section .iphone-wrap .phone-2 {
  margin-top: 50px;
  margin-left: 100px;
  width: 250px;
}

@media screen and (max-width: 992px) {
  .hero-section .iphone-wrap .phone-2 {
    width: 250px;
    position: absolute;
    margin-top: 0px;
    margin-left: 100px;
  }
}

/* Blog */
.post-entry {
  overflow: hidden;
  margin-bottom: 60px;
}

.post-entry img {
  transition: all ease-in-out 0.4s;
}

.post-entry:hover img {
  transform: scale(1.2);
}

.post-entry .post-text .post-meta {
  text-decoration: none;
  color: #ccc;
  font-size: 13px;
  display: block;
  margin-bottom: 10px;
}

.post-entry .post-text h3 {
  font-size: 20px;
  color: #000000;
}

.post-entry .post-text h3 a {
  text-decoration: none;
  color: #000000;
}

.post-entry .post-text h3 a:hover {
  text-decoration: none;
  color: #2d71a1;
}

.post-entry .post-text .readmore {
  color: #2d71a1;
}

.sidebar-box {
  margin-bottom: 30px;
  padding: 25px;
  font-size: 15px;
  width: 100%;
  float: left;
  background: #fff;
}

.sidebar-box *:last-child {
  margin-bottom: 0;
}

.sidebar-box h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.categories li,
.sidelink li {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted gray("300");
  list-style: none;
}

.categories li:last-child,
.sidelink li:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.categories li a,
.sidelink li a {
  text-decoration: none;
  display: block;
}

.categories li a span,
.sidelink li a span {
  position: absolute;
  right: 0;
  top: 0;
  color: #ccc;
}

.categories li.active a,
.sidelink li.active a {
  text-decoration: none;
  color: #000000;
  font-style: italic;
}

.comment-form-wrap {
  clear: both;
}

.comment-list {
  padding: 0;
  margin: 0;
}

.comment-list .children {
  padding: 50px 0 0 40px;
  margin: 0;
  float: left;
  width: 100%;
}

.comment-list li {
  padding: 0;
  margin: 0 0 30px 0;
  float: left;
  width: 100%;
  clear: both;
  list-style: none;
}

.comment-list li .vcard {
  width: 80px;
  float: left;
}

.comment-list li .vcard img {
  width: 50px;
  border-radius: 50%;
}

.comment-list li .comment-body {
  float: right;
  width: calc(100% - 80px);
}

.comment-list li .comment-body h3 {
  font-size: 20px;
}

.comment-list li .comment-body .meta {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #ccc;
}

.comment-list li .comment-body .reply {
  padding: 5px 10px;
  background: #e6e6e6;
  color: #000000;
  text-transform: uppercase;
  font-size: 14px;
}

.comment-list li .comment-body .reply:hover {
  color: #000000;
  background: #e3e3e3;
}

.search-form {
  background: #f7f7f7;
  padding: 10px;
}

.search-form .form-group {
  position: relative;
}

.search-form .form-group input {
  padding-right: 50px;
}

.search-form .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/*--- ----------------------------------------------------------
#About ME
----------------------------------------------------------------*/
/*--------------------------------------------------------------
# About Me Header
--------------------------------------------------------------*/

.header-profile {
  background: #151515 url("../images/intro-bg.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.header-profile::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.header-profile .text-container {
  z-index: 10;
}

.header-profile.roles {
  font-family: "lora-regular", serif;
}

.header-profile .social {
  bottom: 50px;
}

.about-img {
  width: 200px;
}

.project:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  opacity: 0.8;
}

.services {
  background: url("../images/bg.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.services::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.services .container {
  z-index: 10;
}

@media (max-width: 767px) {
  .header-profile .social i {
    font-size: 30px;
  }

  .header-profile .roles {
    font-size: 18px !important;
  }

  .about-content {
    flex-direction: column;
  }

  .stats .stat {
    border-right: 0 !important;
    margin-bottom: 40px;
    border-bottom: var(--bs-dark) solid 1px;
    padding-bottom: 20px;
  }
}

/*--------------------------------------------------------------
# Articles
--------------------------------------------------------------*/
.article-entry-1 {
  margin-bottom: 30px;
}

.article-entry-1 img {
  margin-bottom: 30px;
}

.article-entry-1 h2 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  font-weight: 500;
}

.article-entry-1 h2 a {
  color: var(--color-black);
}

.article-entry-1.lg h2 {
  font-size: 40px;
  line-height: 1;
}

.article-meta {
  font-size: 11px;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--font-secondary);
  color: rgba(var(--color-black-rgb), 0.4);
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .custom-border {
    border: none !important;
  }
}

.author .photo {
  margin-right: 10px;
}

.author .photo img {
  width: 40px;
  border-radius: 50%;
  margin-bottom: 0;
}

.author .name h3 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: var(--font-secondary);
}

.trending {
  border: 1px solid rgba(var(--color-black-rgb), 0.1);
}

.trending>h3 {
  color: var(--color-black);
  padding: 20px;
  border-bottom: 1px solid rgba(var(--color-black-rgb), 0.1);
}

.trending .trending-article {
  padding: 0;
  margin: 0;
}

.trending .trending-article li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
}

.trending .trending-article li a {
  display: block;
  padding: 20px;
  border-bottom: 1px solid rgba(var(--color-black-rgb), 0.1);
  position: relative;
  overflow: hidden;
}

.trending .trending-article li a .number {
  position: absolute;
  z-index: -1;
  font-size: 5rem;
  left: -10px;
  top: -20px;
  font-weight: 700;
  color: rgba(var(--color-black-rgb), 0.05);
}


.article-entry-2 {
  margin-bottom: 30px;
}

.article-entry-2 .article-meta {
  font-size: 11px;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--font-secondary);
  color: rgba(var(--color-black-rgb), 0.4);
  margin-bottom: 10px;
}

.article-entry-2 .author {
  color: rgba(var(--color-black-rgb), 0.7);
  font-weight: 500;
  margin-bottom: 20px;
  display: block;
}

.article-entry-2 .thumbnail {
  flex: 0 0 65%;
}

@media (max-width: 960px) {
  .article-entry-2 .thumbnail {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
}

.article-entry-2.half .thumbnail {
  flex: 0 0 50%;
}

@media (max-width: 768px) {
  .article-entry-2.half .thumbnail {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
}

.article-entry-2.small-img .thumbnail {
  flex: 0 0 30%;
}

@media (max-width: 768px) {
  .article-entry-2.small-img .thumbnail {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
}

.img-bg {
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center center;
}

@media (max-width: 768px) {
  .img-bg {
    height: 400px;
  }
}

.img-bg:before {
  position: absolute;
  content: "";
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.5;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  top: 0;
}

.img-bg .img-bg-inner {
  position: relative;
  z-index: 2;
  max-width: 700px;
  position: relative;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .img-bg .img-bg-inner {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px;
  }
}

.img-bg .img-bg-inner h2,
.img-bg .img-bg-inner p {
  color: var(--color-white);
}

@media (max-width: 500px) {
  .img-bg .img-bg-inner p {
    display: none;
  }
}

.custom-swiper-button-next,
.custom-swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}

@media (max-width: 768px) {

  .custom-swiper-button-next,
  .custom-swiper-button-prev {
    display: none;
  }
}

.custom-swiper-button-next span,
.custom-swiper-button-prev span {
  font-size: 20px;
  color: rgba(var(--color-white-rgb), 0.7);
  transition: 0.3s all ease;
}

.custom-swiper-button-next:hover span,
.custom-swiper-button-next:focus span,
.custom-swiper-button-prev:hover span,
.custom-swiper-button-prev:focus span {
  color: rgba(var(--color-white-rgb), 1);
}

.custom-swiper-button-next {
  right: 40px;
}

.custom-swiper-button-prev {
  left: 40px;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: rgba(var(--color-white-rgb), 0.8);
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgba(var(--color-white-rgb), 1);
}

.more {
  font-family: var(--font-secondary);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.more:before {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-black);
}

.article-content {
  padding-left: 10%;
  padding-right: 10%;
}

@media (max-width: 768px) {
  .article-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.article-content .firstcharacter {
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.article-content figure {
  position: relative;
  left: 52%;
  min-width: 990px;
  transform: translateX(-50%);
}

@media (max-width: 1255px) {
  .article-content figure {
    min-width: auto;
    left: auto !important;
    transform: none;
  }
}

.article-content figure figcaption {
  font-family: var(--font-secondary);
  font-size: 14px;
  padding: 10px 0 0 0;
}

.aside-title,
.category-title {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 30px;
  border-bottom: 2px solid var(--color-black);
}

.category-title {
  border-bottom: none;
}

.custom-pagination a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  font-family: var(--font-secondary);
  margin: 5px;
  transition: 0.3s all ease;
}

.custom-pagination a.active {
  background: var(--color-black);
  color: var(--color-white);
}



.custom-pagination a.prev,
.custom-pagination a.next {
  width: auto !important;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
}


/* custom tab nav on sidebar */
.aside-block {
  margin-bottom: 30px;
}

.aside-block .custom-tab-nav .nav-item {
  display: inline-block;
}

.aside-block .custom-tab-nav .nav-item button {
  color: var(--color-black);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  margin-right: 20px;
}

.aside-block .custom-tab-nav .nav-item button.active {
  background-color: var(--color-black) !important;
  background-color: transparent !important;
  color: var(--color-black);
  border-bottom: 2px solid var(--color-black);
}

.aside-links li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(var(--color-black-rgb), 0.1);
}

.aside-links li a {
  display: block;
  color: rgba(var(--color-black-rgb), 0.7);
}

.aside-links li a:hover,
.aside-links li a:focus {
  color: rgba(var(--color-black-rgb), 1);
}

.aside-tags li {
  display: inline-block;
}

.aside-tags li a {
  display: inline-block;
  color: rgba(var(--color-black-rgb), 0.7);
  padding: 7px 10px;
  border: 1px solid rgba(var(--color-black-rgb), 0.1);
  margin-bottom: 3px;
  transition: 0.3s all ease;
}

.aside-tags li a:hover,
.aside-tags li a:focus {
  color: rgba(var(--color-black-rgb), 1);
  border: 1px solid rgba(var(--color-black-rgb), 0.5);
}

.form-control.input-no-border {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  height: 100%;
  /* Makes the input field fill the table cell height */
  width: 100%;
  /* Makes the input field fill the table cell width */
  padding: 0;
  /* Ensures there is no additional padding */
  margin: 0;
  /* Ensures there is no additional margin */
}

.table td, .table th {
  padding: 4px;
  /* Ensures the cells have no padding so they take up the correct space */
}

.table input {
  display: block;
  /* Ensures the input fields take the full available space */
  width: calc(100% - 1px);
  /* Adjusts the input to fill the entire cell */
  height: calc(100% - 1px);
  /* Adjusts the input to fill the entire cell */
}

/* Optional: If you want to add some padding inside the inputs, adjust here */
.input-no-border {
  padding: 8px;
  /* Adjust padding if necessary */
  box-sizing: border-box;
  /* Ensures padding is counted inside the width/height */
}

/* Optional: If you want to adjust the font size or any other style */
.input-no-border {
  font-size: 1em;
  /* Adjust font size if necessary */
}

select {
  appearance: none;
  /* Hides the default arrow */
  -webkit-appearance: none;
  /* For Safari */
  -moz-appearance: none;
  /* For Firefox */
  background-image: none !important;
  border: 0;
  padding: 0 !important;
  /* Optional: adjust padding per design */
  margin: 0;
}

/* Walking part */
.walking-container {
  position: relative;
  height: 150px;
  width: 100%;
  background: linear-gradient(to bottom, #f0f0f0, #b0e0e6);
  /* A serene background */
  overflow: hidden;
  /* Ensure the icon does not overflow on fast scrolls */
}

.walking-icon {
  position: absolute;
  bottom: 50%;
  /* Position in the middle vertically */
  transform: translateY(50%);
  transition: left 0.3s ease-in-out;
  font-size: 3rem;
  color: #333;
}

.flip-horizontal {
  transform: translateY(50%) scaleX(-1);
  /* Ensure flip and vertical center alignment */
}

/* CustomStyles.css */

/* Background colors for input groups and input fields */
.input-group-text.custom-input-group-text {
  background-color: #274472;
  /* Deep Moody Blue */
  color: #ffffff;
}

.form-control.custom-input {
  background-color: #F2EFEB;
  /* Soft Ivory */
  border: 1px solid #DBB2FF;
  /* Light Lavendar */
}

.input-group-text.custom-input-group-text:hover {
  background-color: #3A5A89;
  /* Slightly lighter Moody Blue */
}

.form-control.custom-input:focus {
  border-color: #DBB2FF;
  /* Light Lavendar */
  box-shadow: 0 0 5px rgba(219, 178, 255, 0.5);
}

/* Label styling */
.form-label.custom-label {
  color: #34495E;
  /* Earthy Dark Slate */
}

/* Button styling */
.btn.custom-btn {
  background-color: #FFC857;
  /* Sunset Orange */
  border: none;
  color: #ffffff;
  /* White text for better contrast */
}

.btn.custom-btn:hover {
  background-color: #FF9E1B;
  /* Darker Sunset Orange */
}

/* Additional Customizations */
form {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  /* White background for the form */
  border-radius: 10px;
  /* Rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for a lifted effect */
}

input:focus, button:focus {
  outline: none;
  /* Removing default outline for inputs and buttons */
}

input::placeholder {
  color: #808B96;
  /* Lighter gray for the placeholder text */
}